<div class="cpass" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div class="headings" fxFlex=20>
        <h1 class="heading-primary u-margin-bottom-xxsmall">Change Password</h1>
        <h3 class="heading-secondary">Change login password</h3>
    </div>
    <form class="cpass-form" fxFlex=60 fxLayout="column" fxLayoutAlign="space-between center" *ngIf="step===1">


        <mat-form-field appearance="outline" fxFlex=10>
            <input matInput placeholder="Mobile / Email" disabled>
        </mat-form-field>


        <mat-form-field appearance="outline" fxFlex=10>
            <input matInput type="password" placeholder="Current Password">
        </mat-form-field>


        <mat-form-field appearance="outline" fxFlex=10>
            <input matInput type="password" placeholder="New Password">
        </mat-form-field>



        <button class="btn btn-green" (click)="step=2" fxFlex=18>Authenticate</button>
    </form>

    <form class="cpass-form" fxFlex=80 fxLayout="column" fxLayoutAlign="space-between center" *ngIf="step===2">


        <mat-form-field appearance="outline" fxFlex=10>
            <input matInput placeholder="Mobile / Email" disabled>
        </mat-form-field>


        <mat-form-field appearance="outline" fxFlex=10>
            <input matInput type="password" placeholder="Current Password">
        </mat-form-field>


        <mat-form-field appearance="outline" fxFlex=10>
            <input matInput type="password" placeholder="New Password">
        </mat-form-field>

        <div class="otp" fxFlex=10 fxLayout="row" fxLayoutAlign="center start">

            <mat-form-field appearance="outline" style="text-align: center; ">
                <input matInput type="password" placeholder="OTP">
            </mat-form-field>
            <a class="heading-secondary" style="margin: 1rem;">Resend</a>
        </div>

        <button class="btn btn-green" style="padding: .5rem 2rem;" fxFlex=13>Submit</button>
    </form>
</div>