@import "../../../scss/variables";
.cpass {
    margin: 1rem 0;
    border-radius: $border-radius;
    height: 70vh;
    h1,
    h3 {
        margin: 0;
    }
    &-form {
        width: 50%;
        mat-form-field {
            width: 55%;
        }
    }
}

.mat-input-element {
    background-color: white;
}

a {
    &,
    &:hover,
    &:active {
        color: $color-green-light;
    }
}