@import "../../../variables";
mat-card {
    padding: $flex-padding;
}

.left-box {
    text-align: center;
    img {
        height: 10rem;
        width: 10rem;
        border: 3px soild black;
    }
}

button {
    margin: 1.2rem 0;
}