.flex-spacer {
    flex: 1 1 auto;
}

.u-margin-bottom-xxsmall {
    margin-bottom: .4rem !important;
}

.u-margin-bottom-xsmall {
    margin-bottom: .8rem !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 3rem !important;
}

.u-margin-bottom-big {
    margin-bottom: 4.5rem !important;
}

.u-text-center {
    margin: 0 auto;
    text-align: center !important;
}