.mat-select-content {
    width: 2000px !important;
    background-color: red !important;
    font-size: 10px !important;
}

.mat-select {
    background-color: $background-gray;
    padding: 15% 40%;
    border-radius: $border-radius;
}

.mat-radio-button {
    transform: scale(1.2);
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $color-gray-dark;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: $color-green;
    background-color: $color-green;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: $color-green;
}

.mat-input-element {
    caret-color: $color-green!important;
}

.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: $color-gray-dark !important;
}

.mat-form-field-underline {
    /*change color of underline*/
    background-color: $color-green-light !important;
}

.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: $color-green !important;
    ;
}

.mat-checkbox.mat-accent {
    &.mat-checkbox-checked .mat-checkbox-background {
        background-color: white;
        border: 1px solid $color-green;
    }
    .mat-checkbox-background {
        background-color: white;
        border: 1px solid $color-green-light;
    }
    .mat-checkbox-checkmark-path {
        stroke: $color-green !important;
    }
}