<div class="container" fxLayout="column" fxLayoutAlign="center center" *ngIf="step===1">
    <h2 class="heading-primary">Institute Information</h2>
    <div class="s1_box">
        <form #s1="ngForm" (ngSubmit)="onSubmit(s1.value)" fxLayout="column">
            <mat-form-field>
                <mat-label>Institute Name</mat-label>
                <input matInput type="text" id="inname" name="inname" placeholder="Institute Name" ngModel required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Institute Address</mat-label>
                <input matInput type="text" id="street" name="street" placeholder="Address Street" ngModel required>
            </mat-form-field>
            <div class="form-field-group" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start">
                <mat-form-field fxFlex="47">
                    <input matInput type="text" id="landmark" name="landmark" placeholder="Address Landmark" ngModel required>
                </mat-form-field>
                <mat-form-field fxFlex="47">
                    <input matInput type="text" id="zipcode" name="zipcode" placeholder="Zip Code" ngModel required>
                </mat-form-field>
            </div>
            <div class="form-field-group" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start">
                <mat-form-field fxFlex="47">
                    <input matInput type="text" id="city" name="city" placeholder="City" ngModel required>
                </mat-form-field>
                <mat-form-field fxFlex="47">
                    <input matInput type="text" id="state" name="state" placeholder="State" ngModel required>
                </mat-form-field>
            </div>
            <div class="form-field-group" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex="55">
                    <mat-label>Institute Email</mat-label>
                    <input matInput type="text" id="email" name="email" placeholder="Email" ngModel email required>
                </mat-form-field>
            </div>
            <div class="form-field-group" style="width: 55%;" fxLayout="row" fxLayoutAlign="space-between start">
                <mat-form-field floatLabel="never" fxFlex="25">
                    <input matInput type="number" id="isdCode" name="isdCode" placeholder="+91" ngModel required>
                </mat-form-field>
                <mat-form-field fxFlex="70">
                    <mat-label>Institute Mobile Details</mat-label>
                    <input matInput type="number" id="mobile" name="mobile" placeholder="Mobile" ngModel required>
                </mat-form-field>
            </div>
            <div class="submit">
                <button class="btn btn-green" type="submit" [disabled]="s1.invalid">Next</button>
            </div>
        </form>
    </div>
</div>

<div class="container" fxLayout="column" fxLayoutAlign="center center" *ngIf="step===2">
    <h2 class="heading-primary">Order Details</h2>
    <div class="s1_box" fxLayout="column">

        <div class="form-field-group" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start">
            <mat-form-field fxFlex="47">
                <input matInput type="text" name="datetime" placeholder="Create Datetime" disabled required>
            </mat-form-field>

            <div class="product" fxFlex="23" fxLayout="row" fxLayoutAlign="space-evenly start">
                <button class="btn btn-green" style="padding: .4rem .6rem;"><img src="../../../assets/icons/action/ic_add_shopping_cart_white_18dp.png" alt=""></button>
                <p>Select Product</p>
            </div>
        </div>
        <mat-form-field>
            <mat-label>Product</mat-label>
            <input matInput type="text" name="product" placeholder="Product" disabled required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Product Description</mat-label>
            <textarea matInput type="text" name="description" placeholder="Description" disabled required></textarea>
        </mat-form-field>

        <div class="form-field-group" fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field fxFlex="35">
                <mat-label>Subscription Duration (Days)</mat-label>
                <input matInput type="number" name="subsduration" placeholder="Days" disabled email required>
            </mat-form-field>
        </div>
        <div class="form-field-group" style="width: 40%;" fxLayout="row" fxLayoutAlign="space-between start">
            <mat-checkbox name="tandc" #tnc>Term & Conditions</mat-checkbox>
            <mat-checkbox name="privacy" #pp> Privacy Policy</mat-checkbox>
        </div>
        <div class="submit">
            <button class="btn btn-green" [disabled]="tnc.unchecked && pp.unchecked" (click)="onSubmit()">Next</button>
        </div>
    </div>
</div>

<div class="container" fxLayout="column" fxLayoutAlign="center center" *ngIf="step===3">
    <h2 class="heading-primary">Payment & Invoicing</h2>
    <div class="s2_box">

        <div class="form-field-group" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start">
            <mat-form-field floatLabel="always" fxFlex="40">
                <input matInput type="text" name="rcharges" placeholder="Registration Charges (Rs.)">
            </mat-form-field>
            <mat-form-field floatLabel="always" fxFlex="40">
                <input matInput type="text" name="tamount" placeholder="Total Amount (Rs.)">
            </mat-form-field>
        </div>

        <div class="form-field-group" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start">
            <mat-form-field floatLabel="always" fxFlex="40">
                <input matInput type="text" name="prodfee" placeholder="Product Fee (Rs.)">
            </mat-form-field>
            <mat-form-field floatLabel="always" fxFlex="40">
                <input matInput type="text" name="discamt" placeholder="Discount Amount (Rs.)">
            </mat-form-field>
        </div>

        <div class="form-field-group" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start">
            <div class="coupon" fxFlex="40" fxLayout="row" fxLayoutAlign="space-between start">

                <mat-form-field floatLabel="always" fxFlex=55 floatPlaceholder="never">
                    <input matInput type="text" name="coupon" #coupon placeholder="Apply Coupon" ngModel>
                    <mat-hint [fxHide]="!couponValid">Coupon Applied</mat-hint>
                </mat-form-field>
                <div class="coupon-apply" fxFlex=40>
                    <button class="btn btn-green btn-flat" (click)="tryCoupon(coupon.value)">Apply</button>
                </div>

            </div>
            <mat-form-field floatLabel="always" fxFlex="40">
                <input matInput type="text" name="subtotal" disabled placeholder="Subtotal (Rs.)" value="1234">
            </mat-form-field>
        </div>
        <div class="form-field-group" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="end start">
            <mat-form-field floatLabel="always" fxFlex="40">
                <input matInput type="text" name="igst" placeholder="Integrated GST (18%)" disabled required>
            </mat-form-field>
        </div>
        <div class="form-field-group" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="end start">
            <mat-form-field floatLabel="always" fxFlex="40">
                <input matInput type="text" name="famt" placeholder="Total Amount (Rs.)" disabled required>
            </mat-form-field>
        </div>

    </div>
</div>