@import "../../../scss/variables";
.container {
    padding: 1rem;
    .s1_box {
        background-color: $background-gray;
        padding: 2rem 3rem;
        width: 65%;
        .submit {
            text-align: right;
        }
    }
    .s2_box {
        background-color: $background-gray;
        padding: 2rem 4rem;
        width: 45%;
        .submit {
            text-align: right;
        }
    }
}