////////////////// Colors ////////////////////
$header-height: 10vh;
$color-green: #5da968;
$color-green-light: #A9D18E;
$color-green-lighter: #C5E0B4;
$color-pinkpur: #DA9599;
$color-pink: #E36B6B;
$background-gray: #F2F2F2;
$content-gray: #BFBFBF;
$color-gray: #7F7F7F;
$color-gray-dark: #404040;
$color-white: #fff;
//////////////////////////////////// defaults //////////////////
$default-margin: 13px;
$flex-padding: 1.5rem 1rem 3.5rem 1rem;
$border-radius: 7px;