<div class="container success" fxLayout="row" fxLayoutAlign="center center">
    <div class="success-box" fxFlex=70 fxFlexAlign="center">
        <h1 class="heading-primary ">Good Job</h1>
        <div class="success-img "></div>
        <h1 class="heading-primary u-margin-bottom-xsmall">Thank you for starting your journey with us</h1>
        <h3 class="heading-secondary">We have sent a link on your registered email. Kindly use the link for Confirmation & further processes.</h3>
    </div>
</div>