@import "../../../scss/variables";
.success {
    height: 100vh;
    background-color: $color-white;
    text-align: center;
    &-box {
        background-color: $background-gray;
        padding: 2rem 3.5rem;
    }
    &-img {
        margin: 0 auto;
        height: 4rem;
        width: 4rem;
        background-color: $color-pink;
    }
    h3 {
        width: 70%;
        margin: 0 auto;
    }
}