<div class="container" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div class="fpass" fxFlex=80>
        <div class="headings" *ngIf="step!==4">
            <h1 class="heading-primary u-margin-bottom-xxsmall">Forget Password?</h1>
            <h3 class="heading-secondary">Submit Mobile/E-mail id for OTP</h3>
        </div>

        <form (ngSubmit)="onSubmit()" #f="ngForm" class="inputs u-margin-bottom-small" *ngIf="step===1">
            <mat-form-field class="u-margin-bottom-small">
                <input matInput type="text" name="mobemail" placeholder="Mobile/Email" ngModel required>
            </mat-form-field>
            <div class="btn-next u-text-center">
                <button class="btn btn-green" (click)="onSubmit()" [disabled]="!f.valid">Submit</button>
            </div>
        </form>

        <form (ngSubmit)="onSubmit()" #f1="ngForm" class="inputs u-margin-bottom-small" *ngIf="step===2">
            <mat-form-field>
                <input matInput type="text" name="mobemail" placeholder="Mobile/Email" ngModel required>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="end start">
                <mat-form-field class="u-margin-bottom-small" style="text-align: center;" fxFlex=30>
                    <input matInput type="password" placeholder="OTP">
                </mat-form-field>
                <a class="heading-secondary" style="margin: 1rem;" fxFlex=30>Resend</a>
            </div>
            <div class="btn-next u-text-center">
                <button class="btn btn-green" (click)="onSubmit()" [disabled]="!f1.valid">Submit</button>
            </div>
        </form>

        <form (ngSubmit)="onSubmit()" #f="ngForm" class="inputs u-margin-bottom-small" *ngIf="step===3">
            <mat-form-field>
                <input matInput type="text" name="mobemail" placeholder="Mobile/Email" ngModel required>
            </mat-form-field>
            <mat-form-field class="u-margin-bottom-small">
                <input matInput type="password" placeholder="New Password">
            </mat-form-field>
            <div class="btn-next u-text-center">
                <button class="btn btn-green" (click)="onSubmit()" [disabled]="!f.valid">Submit</button>
            </div>
        </form>

        <div class="headings u-margin-bottom-medium" *ngIf="step===4">
            <h1 class="heading-primary u-margin-bottom-xxsmall">Password Reset Completed !</h1>
            <h3 class="heading-secondary">Kindly login again using new credentials</h3>
        </div>

        <div class="btn-next u-text-center" *ngIf="step===4">
            <button class="btn btn-green">Login</button>
        </div>
    </div>
</div>



<!-- 
<form (ngSubmit)="onSubmit()" #f="ngForm" class="inputs u-margin-bottom-small" *ngIf="step!==4">
        <mat-form-field>
            <input matInput type="text" placeholder="Mobile/Email" required>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end start" *ngIf="step===2">
            <mat-form-field style="text-align: center;" fxFlex=30>
                <input matInput type="password" placeholder="OTP">
            </mat-form-field>
            <a class="heading-secondary" style="margin: 1rem;" fxFlex=30>Resend</a>
        </div>
        <mat-form-field *ngIf="step===3">
            <input matInput type="password" placeholder="New Password">
        </mat-form-field>
    </form>
    <div class="btn-next u-text-center" *ngIf="step!==4">
        <button class="btn btn-green" (click)="onSubmit()" [disabled]="!f.valid">Submit</button>
    </div> -->