@import "../../../scss/variables";
.container {
    text-align: left;
    .fpass {
        width: 42%;
        margin: 4rem 0;
        background-color: $background-gray;
        padding: 3rem 4rem;
        border-radius: $border-radius;
        h1,
        h3 {
            margin-top: 0rem;
        }
    }
}

mat-form-field {
    width: 90%;
}